NODE_ENV=development
PORT=5000
MONGO_URI="Here You Put Your Local MongoDB host like (mongodb://localhost:27017) OR your Atlas cluster connection URI"
GEOCODER_PROVIDER="mapquest"
GEOCODER_API_KEY="Your MapQuest Geocoder Api Key"